

.content {
    display: grid;
    grid-template-columns: 350px 1fr;
}

.sidebar {
    border: 2px solid black;
    height: 98vh;
    padding: 20px;
}

.sort-options img {
    width: 30px;
}

.project-options {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
}

.project-heading {
    grid-column: 1/3;
}

#project-check0, .project-list, .project-add {
    grid-column: 2/3;
    display: flex;
}

li {
    list-style-type: none;
}

.container {
    border: 2px solid black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form {
    display: grid;
    grid-template-columns: 100px 1fr;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    opacity: 1;
    background-color: aquamarine;
    width: 600px
}

form button {
    grid-column: 1/3;
    width: 100%;
    align-self: center;
    
}

table {
    width: 90%;
}

img {
    width: 30px;
}

.task-select {
    position: absolute;
    grid-template-columns: 1fr 1fr;

}
