

.content {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.sidebar {
    border: 2px solid black;
    width: 100%;
    height: 100vh;
}

.container {
    border: 2px solid black;
    width: 100%;
    height: 100vh;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}